@page 
@model ProyectoRelampago.Pages.ControlMarcasModel
@{
    ViewData["Title"] = "ControlMarcas";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
</head>
<body>
    <h2>Control de Marcas para Usuario: @Model.Usuario.UsuarioId - @Model.Usuario.Nombre</h2>
    @if (Model.Errores != null)
    {
        <div class="alert alert-danger">@Model.Errores</div>
    }
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-page-handler="MarcarEntrada">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Marca.Empleado" value="@Model.Usuario.UsuarioId" />
                </div>
                <div class="form-group">
                    <label>Fecha de Entrada</label>
                    <input class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                </div>
                <div class="form-group">
                    <label>Hora de Entrada</label>
                    <input class="form-control" value="@DateTime.Now.ToString("HH:mm")" readonly />
                </div>
                <div class="form-group">
                    <input type="submit" value="Marcar Entrada" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="post" asp-page-handler="MarcarSalida">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Fecha de Salida</label>
                    <input class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                </div>
                <div class="form-group">
                    <label>Hora de Salida</label>
                    <input class="form-control" value="@DateTime.Now.ToString("HH:mm")" readonly />
                </div>
                <div class="form-group">
                    <input type="submit" value="Marcar Salida" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
</body>
