@page 
@model ProyectoRelampago.Pages.ControlMarcasModel
@{
    ViewData["Title"] = "ControlMarcas";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/marcas.css" />
</head>
<body>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (Model.Errores != null)
    {
        <div class="alert alert-danger">@Model.Errores</div>
    }
    <div class="titulo">
    <h2>Control de Marcas para Usuario:<br /> @Model.Usuario.UsuarioId - @Model.Usuario.Nombre</h2>
    </div>
    <div class="login-box">
           <form method="post" asp-page-handler="MarcarEntrada">
            <center>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Marca.Empleado" value="@Model.Usuario.UsuarioId" />
                    <label>Fecha de Entrada</label>
                    <input class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                    <label>Hora de Entrada</label>
                    <input class="form-control" value="@DateTime.Now.ToString("HH:mm")" readonly />
           
                    <button type="submit" value="Marcar Entrada">Marcar entrada</button>
            </center>
            </form>


            <form method="post" asp-page-handler="MarcarSalida">
            <center>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label>Fecha de Salida</label>
                    <input class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                    <label>Hora de Salida</label>
                    <input class="form-control" value="@DateTime.Now.ToString("HH:mm")" readonly />
            
                    <button type="submit" value="Marcar Salida" >Marcar salida</button>
                </center>
            </form>
    </div>
</body>
